{{> head}}
        {{> navbar}}

        <div class="row">

            <div class="col-8">
                <h1>Medal of Honor</h1>
                <p> Mauris porta quam non massa molestie scelerisque. Nulla
                sed ante at lorem suscipit rutrum. Nam quis tellus. Cras elit
                nisi, ornare a, condimentum vitae, rutrum sit amet, tellus.
                Maecenas a dolor. Praesent tempor, felis eget gravida blandit,
                urna lacus faucibus velit, in consectetuer sapien erat nec
                quam. Integer bibendum odio sit amet neque. Integer imperdiet
                rhoncus mi. Pellentesque malesuada purus id purus. Quisque
                viverra porta lectus. Sed lacus leo, feugiat at, consectetuer
                eu, luctus quis, risus. Suspendisse faucibus orci et nunc.
                Nullam vehicula fermentum risus. Fusce felis nibh, dignissim
                vulputate, ultrices quis, lobortis et, arcu. Duis aliquam
                libero non diam.

                Vestibulum placerat.
                </p>
            </div>

            <div class="col-4">
                <img src="assets/img/download.jpeg" class="img-thumbnail">
            </div>
        </div>
{{>  footer}}
